# Visual Studio 2015/2017/2019/2022 user specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio Code
.vscode/

# Rider
.idea/

# macOS
.DS_Store

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Content
Content/StarterContent/
Content/Maps/Templates/
